<h1>About Me</h1>
<p>As stated on the home page, my Name is Lawrence Jones. I was born in Covington, TN (I always tell people
    Tipton County) on November 7th, 2001. I spent the first half of my life around that area, and I moved to
    Memphis close to the Spring of 2012. The high school I attended was Cordova High School; I graduated in
    2020. Unfortunately, classes were cut short that year due to the pandemic. We never had an actual graduation
    ceremony, or even a prom for that matter. I graduated high school with a GPA of 3.7, and a class ranking of
    63 out of 508. I currently attend the University of Memphis as a computer science major. I currently have
    skills in coding, teamwork, programming, and databases. In 2022, I was honored to join the NSCS honors 
    society (National Society of Collegiate Scholars). Also, my favorite colors are red and blue.
</p>