<!DOCTYPE html>
<html>
  <head>
    <style>
      body {  
        background-color: rgb(39, 39, 155);
      }

      p {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 32px;
      }

      h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }

      li {
        font-family: 'Times New Roman', Times, serif;
        font-size: 32px;
      }
    </style>
  </head>

  <body>
    <h1>Home Page</h1>
    <p>Hello, my name is Lawrence Jones and this is the home page of my webpage. I can say that I have had some 
    expertise in programming since I've been in college. I'm an active listener, and I know how to resolve 
    conflicts. Although I'm not a big fan of writing essays, I could say I have a little bit of expertise when 
    it comes to writing.
    </p>
  </body>
</html> 